
/*

https://groups.google.com/forum/?fromgroups=#!topic/foundation-framework-/OuFU-iTWh2g

*/

/* Global Font */
* {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}


a {
   text-decoration: none;
   color: black;
}


.top-bar .name h1 {
	font-size: 0.8em;
}

.top-bar-section li a:not(.button) {
	background: #616161;
	color: #C8DAE4;
}

.top-bar {
	background: #616161;
}

.top-bar-section .has-form {
	background: #616161;
}

label {
	font-weight: bold;
}

table {
   font-family: Tahoma, Arial, Helvetica, sans-serif;
}


table th {
   border:1px solid #B0C5D0;
   background-color:#C8DAE4;
}

table td {
   border:1px solid #B0C5D0;
}

table.border_top {
	border: 0;
}

td.td_border_top {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	background-color: white;
	height: 40px;
	vertical-align: bottom;
}


input, select {
	font-size: 0.875em;
}

fieldset legend {
	font-size: 1.5em;
}

div.border {
	border:1px solid #B0C5D0;
}

/* Remove the bottom padding on buttons */
.button {
	margin-bottom: 0em;	
}


/* 
We will have two kinds of textareas only:
 - Short ones 
 - Long ones (the standard)
*/
textarea {
	height: 150px;
}

textarea.small {
	height: 85px;
}

/* JQuery UI components */
div.ui-datepicker, .ui-datepicker td{
	font-size: 12px;
}