{% extends "base/base.html" %}
{% block content %}

<script type="text/javascript">

   // Date Pickers and Submit
   $(function() {

      //Date
      $("#date").datepicker({dateFormat: 'yy-mm-dd'});

      //Time
      $("#time").timepicker({timeSeparator: ':'});

   });

</script>

<form method="POST" name="update" id="update" action="/update">
   {% csrf_token %}

<table class="top">

 <tr>
  <td colspan="5">
   <p class="title">Update Incident - id:{{id}}</p>
  </td>
 </tr>

 <tr>
  <td colspan="5" align="left">
   <div class="help" id="help">
    When updating an existing incident, the following guidelines should be followed:
    <li>When deleting an incident, no other information needs to be provided (everything else will be ignored)
    <li>An email broadcast may be sent at any time without providing an update on the incident.  Simply check the 'Broadcast Email' checkbox and click submit.
    <li>When adding an update to the incident, a description, date/time and affected services must be provided.
   </div>
  </td>
 </tr>

 <tr>
  <td colspan="5" height="25"><hr></td>
 </tr>

 <tr>
  <td style="text-align:center;"><b>Description</b></td>
  <td width="25"></td>
  <td style="text-align:center;"><b>Affected Services</b></td>
  <td width="25"></td>
  <td style="text-align:center;"><b>Options</b></td>
 </tr>

 <tr>
  <td colspan="5" height="20"></td>
 </tr>

 <tr>
  <td>
   <textarea class="textarea_detail" id="detail" name="detail" rows="25" cols="50">{% if not form.detail.data == None %}{{form.detail.data}}{% endif %}</textarea>
  </td>
  <td></td>
  <td valign="top">
   <table>
    {% for row in affected_services %}
    <tr>
     <td><input type="checkbox" name="service" value="{{row.id}}" {% if row.affected == 'on' %}checked="on"{% endif %}/></td>
     <td>{{row.name}}</td>
    </tr>
    {% endfor %}
   </table>
  </td>
  <td></td>
  <td valign="top">
   <table>
    <tr>
     <td align="right"><input type="checkbox" name="close" {% if not closed.0.closed == None %}checked="on"{% endif %}/></td>
     <td>Close Incident</td>
    </tr>
    <tr>
     <td align="right"><input type="checkbox" name="delete"/></td>
     <td>Delete Incident</td>
    </tr>
    <tr>
     <td align="right"><input type="checkbox" name="email" checked/></td>
     <td>Broadcast Email</td>
    </tr>
    <tr>
     <td colspan="2" height="5"></td> 
    </tr>
    <tr>
     <td>Date</td>
     <td><input type="text" class="input_date" name="date" id="date" value="{% if form.date.data %}{{form.date.data}}{% else %}{% if time_now %}{{time_now|date:"Y-m-d"}}{% endif %}{% endif %}"/></td>
    </tr>
    <tr>
     <td>Time</td>
     <td><input type="text" class="input_date" name="time" id="time" value="{% if form.time.data %}{{form.time.data}}{% else %}{% if time_now %}{{time_now|date:"H:i"}}{% endif %}{% endif %}"/></td>
    </tr>
    <tr>
     <td colspan="2" style="text-align:right;"><input type="submit" value="submit"/></td>
    </tr>
   </table>
  </td>
 </tr>

 <tr>
  <td colspan="5">* All times are in {{TIME_ZONE}}</td>
 </tr>

 <tr>
  <td colspan="5">
   <p class="error">
     {% if form.date.errors %}
      <br>{% for error in form.date.errors %}{{error}}{% endfor %}
     {% endif %}
     {% if form.time.errors %}
      <br>{% for error in form.time.errors %}{{error}}{% endfor %}
     {% endif %}
     {% if form.detail.errors %}
      <br>{% for error in form.detail.errors %}{{error}}{% endfor %}
     {% endif %}
     {% if form.id.errors %}
      <br>{% for error in form.id.errors %}{{error}}{% endfor %}
     {% endif %}
     {% if form.service.errors %}
      <br>{% for error in form.service.errors %}{{error}}{% endfor %}
     {% endif %}
   </p>
  </td>
 </tr>

</table>
<input type="hidden" name="id" value="{{id}}">
</form>


{% endblock %}



